* {
    cursor: default;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #7cc55e;
}

/*===================================
            GENERIQUE
=====================================*/
.col-sm-6 {
    width: 48%;
}

.col-sm-6:nth-child(odd) {
    float: left;
}

.col-sm-6:nth-child(even) {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* IE6 */
* html .clearfix {
    zoom: 1;
}

/* IE7 */
*:first-child + html .clearfix {
    zoom: 1;
}

.nobootstrap fieldset img {
    padding: 0px 5px 3px 0;
}

p.instruction {
    text-align: left;
    margin: 10px 0px;
    color: #585a69;
    text-shadow: none;
    font-weight: normal;
    font-size: 13px;
}

.totshippingpreviewcsv_img {
    width: 80px;
    float: left;
}

.totshippingpreviewcsv_text2 > p {
    max-width: 80%;
    padding-left: 85px;
}

a.title-tab {
    background-color: #33363b;
    width: 33.33%;
    float: left;
    list-style: none;
    height: 25px;
    margin-bottom: -1px;
    text-align: center;
    display: block;
    color: #fff !important;
    font-size: 12px;
    padding: 13px 0px;
}

.no_underline {
    text-decoration: none;
}

.nobootstrap .button {
    color: #fff;
    background: 0 0;
    border: none;
    border-radius: 2px;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    background-color: #3f51b5;
    margin: 20px 0;

}

.nobootstrap .button.configure {
    background-color: #726D6D;
}

.nobootstrap .button.discover {
    background-color: #66cc33;
}

a.button.onClick > img {
    margin: 4px;
}

.nobootstrap select, #tot_shipping_zone, #tot_shipping_zone_2 {
    font-weight: bold;
    width: 256px;
}

.nobootstrap label {
    text-align: left;
    margin: 10px 0px;
    color: #585a69;
    text-shadow: none;
    font-weight: normal;
    font-size: 14px;
}

fieldset.bg_table {
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border: none;
    margin-bottom: 35px;
}

fieldset.bg_table legend {
    height: 12px;
    margin-bottom: 0px;
    font-weight: 16px;
    font-size: 12px;
    padding: 7px 10px 14px 10px;
    border: none;
    color: #3f51b5;
}

div.margin input#campaign_limit {
    font-weight: bold;
    height: 25px;
    font-size: 18px;
    width: 78px;
    padding-left: 5px;

}

fieldset.bg_table table.table.tableDnD {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

fieldset.bg_table table.table.tableDnD thead tr,
tr.new table.table.tableDnD tbody tr {
    height: 50px;
    text-transform: uppercase;
}

fieldset.bg_table table.table.tableDnD tbody tr th {
    color: #363a41;
    height: 30px;
    font-size: 12px;
}

.nobootstrap .table tr td {
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 12px;
    padding: 4px 4px 4px 6px;
    height: 23px;
}

.nobootstrap a {
    *margin-right: 10px;
    color: #415260;
    text-decoration: none;
}

#tabs {
    margin: 0;
    padding: 0;
}

#tabs li {
    background-color: #33363b;
    width: 25%;
    float: left;
    list-style: none;
    height: 50px;
    margin-bottom: -1px;
}

#tabs li a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 14px;
    padding: 13px 0px;
}

#tabs li + li {
    *margin-left: 5px;
}

#contentTabs {
    clear: both;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid rgba(119, 119, 119, 0.2);
    padding-bottom: 20px;
}

.sousmenuactif {
    font-weight: bold;
    border-bottom: 5px solid #8ace2a;
}

.table.tableDnD {
    /* width: 100%;*/
    font-size: 11px;
}

.table.tableDnD tbody tr td:last-child a img {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    width: 20px;
    margin: 9px 5px;
}

.table.tableDnD tbody tr td:last-child a img :last-child {
    width: 10px;
    height: auto;
}

form.form .table.tableDnD tr td:first-child {
    width: 200px;
}

form.form .table.tableDnD {
    width: auto;
}

.bold {
    font-weight: bold;
}

td.right {
    text-align: right;
}

.nobootstrap fieldset {
    background-color: #fff;

}

fieldset + fieldset {
    margin-top: 10px;
}

.catName {
    text-align: left;
    *width: 150px;
    padding: 0 10px;
}

.totArboImg {
    width: 19px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    height: 19px;
}

td.productName {
    min-height: 30px;
    *width: 200px;
    padding: 0 10px;
}

td.translate {
    *width: 300px;
}

div.newCampaign {
    margin-bottom: 5px;
    margin-top: -10px;
}

#choose {
    display: none;
}

#prod {
    line-height: 19px;
}

tr.duplicate {
    display: none;
}

.deleteGroup {
    clear: both;
}

.product {
    width: 210px;
}

.onClick, .deleteGroup, .onClick img, .deleteGroup img {
    cursor: pointer;
    float: left;
}

form.form .table.tableDnD tr td:first-child {
    width: 100%;
}

.nobootstrap label {
    width: 100%;
}

div#myTable {
    margin: 10px auto;
    width: 100%;
    min-width: 400px;
    max-width: 1300px;
}

div#myTable table {
    margin: 0px;
    width: 100%;
}

input.full {
    display: block;
}

.containerlarge {
    width: 100%;
    float: left;
}

.container1 {
    width: 50%;
    float: left;
}

.instructionhelp {
    color: #FFF;
}

fieldset.colorhelp {
    background-color: #8ace2a;
    height: 150px;
}

.desccontent {
    margin-right: 20px;
    margin-left: 20px;
}

/*===============================
            RESPONSIVE
================================*/

@media (max-width: 1199px) {
    .responsive-table-line td:before {
        content: attr(data-title);
    }

    .responsive-table-line table,
    .responsive-table-line thead,
    .responsive-table-line tbody,
    .responsive-table-line th,
    .responsive-table-line td,
    .responsive-table-line tr {
        display: block;
    }

    .responsive-table-line thead tr,
    td.inutile {
        display: none;
    }

    .responsive-table-line td {
        position: relative;
        border: 0px solid transparent;
        padding-left: 30% !important;
        white-space: normal;
        text-align: right;
        text-transform: uppercase;
    }

    .responsive-table-line td:before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 200px;
        padding: 15px 0 0 15px;
        height: 40px;
        white-space: nowrap;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
        text-align: left;
        background-color: rgba(241, 241, 241, 0.42);
        color: #3f51b5;
        font-size: 13px;
    }

    tr.separeted {
        z-index: 1;
        border-top: 3px solid #3f51b5;
        position: relative;
    }

    .nobootstrap .table tr td {
        padding: 15px 20px 0 0;
    }

    input.full {
        width: 99%;
        margin-bottom: 1em;
    }

    .container1 {
        width: 100%;
        float: left;
    }

}

@media (max-width: 650px) {
    .responsive-table-line td:before {
        background-color: rgba(241, 241, 241, 0);
    }

    div#myTable.myTableresponsive {
        width: 100%;
    }

}

/*===============================
            BANNER.TPL         
================================= */
#main #content .banner_container {
    background-color: #66cc33;
    width: 100%;
    height: 70px;
    margin: 0;
}

table.banner {
    width: 100%;
}

.text p {

    margin-top: 1px;
    font-size: 12px;
}

span.white {
    color: #fff;
    font-size: 16px;
}

.button {
    margin-top: 10px;
    font-weight: bolder;
}

.button.configure {
    color: white;
    background-color: #363A41;
}

.button.discover {
    color: white;
    background-color: #78D07D;
}

.text {
    letter-spacing: -0.2px;
    text-align: left;
    line-height: 17px;
    width: 50%;
    padding: 2px 5px 8px 30px;
    font-size: 15px;
    min-width: 358px;
}

.text img {
    float: left;
    width: 45px;
    margin: 10px 10px 10px 0;
}

.logo {

    padding-right: 40px;
    text-align: right;
    width: 200px;

}

.logo img {
    width: 200px;

}

.lesbuttons {
    width: 50%;
    text-align: right;
    padding-right: 30px;
    min-width: 150px;
}

.lesbuttons img {
    width: 20px;
    padding: 10px;
    cursor: inherit;

}

.lesbuttons a {
    cursor: pointer;
}

@media (max-width: 1070px) {
    .banner .text,
    .banner .lesbuttons {
        width: 50%;
        height: 50px;
    }

    .banner .text {
        padding: 2px 5px 8px 10px;
    }

    .lesbuttons {
        margin-left: 70px;
        text-align: right;
    }

    .lesbuttons #logo202 {
        display: none;
    }

}

@media (max-width: 720px) {
    .banner .text,
    .banner .lesbuttons {
        width: 100%;
        display: block;
    }

    .lesbuttons {
        margin-left: 50px;
        text-align: left;
        display: block;
        width: 100%;
    }

}

/* Section class */

/*  a.title-tab {
       display: inline-block;
       min-width: 120px;
       text-align: center;
       background: #EFEFEF;
       min-height: 25px;
       vertical-align: middle;
       line-height: 25px;
       border-color: #CCC;
       cursor: pointer;
       border-width: 1px 1px 0px 1px;
       border-style: solid;
  }*/
#tot-tab-title a.title-tab.active {
    font-weight: bold;
    border-bottom: 5px solid #8ace2a;
    height: 50px;
}

#tot-tab-title a.title-tab {
    font-weight: bold;
    height: 50px;
}

fieldset + fieldset,
.tot-tab + fieldset {
    margin-top: 20px;
}

#tot-tab-title {
    position: relative;
    margin-bottom: -1px;
}

#tot-tab-content {
    /*background: #FFFFF0;*/
    padding-top: 10px;
    /*border-width: 1px;
    border-style: solid;
    border-color: #CCC;*/
    margin-top: 70px;
}

#tot-tab-content .tot-tab {
    display: none;
}

#tot-tab-content .tot-tab.seemore {
    background: #fff;
    margin-top: -29px;
    padding-top: 25px;
}

#tot-tab-content .tot-tab.seemore [class*="col-"] {
    padding-left: 25px;
    padding-right: 25px;
}

label {
    min-width: 300px;
}

@media (min-width: 768px) {
    .form-wrapper .form-group .control-label {
        text-align: left;
        margin-bottom: 0;
        padding-top: 7px;
    }
}

.bootstrap .btn.btn-primary {
    text-transform: initial;
}

#mColorPickerFooter input {
    color: black;
}