/* Custom Font */
@font-face {
	font-family: 'ap5-mu';
	src:  url('../fonts/ap5-mu.eot?seokvj');
	src:  url('../fonts/ap5-mu.eot?seokvj#iefix') format('embedded-opentype'),
		url('../fonts/ap5-mu.ttf?seokvj') format('truetype'),
		url('../fonts/ap5-mu.woff?seokvj') format('woff'),
		url('../fonts/ap5-mu.svg?seokvj#ap5-mu') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

/* Top of page */
.top-hr {
	margin-bottom: 15px;
}
.mx-auto {
	margin-right: auto!important;
	margin-left: auto!important;
}
/* /Top of page */

/* Pack content */
#ap5-product-list.ap5-on-product-page {
	margin-top: 25px;
	margin-bottom: 25px;
}
#ap5-product-list.card { 
	flex-flow: row wrap; 
	padding: 0;
}

#ap5-product-list.card .ap5-pack-product:last-child{ 
	margin-bottom: 1rem;
}

.ap5-on-product-page .ap5-pack-product-title {
}
.ap5-on-product-page .ap5-pack-product-title a {
	color: #414141;
}

.ap5-on-product-page .ap5-pack-product-title .ap5-pack-product-remove-label,
.ap5-on-product-page .ap5-pack-product-title .ap5-pack-product-add-label {
	font-size: 10px;
	font-weight: normal;
	cursor: pointer;
}

.ap5-on-product-page .ap5-pack-product-content {
	position: inherit;
}

.ap5-on-product-page .ap5-pack-product-content .ap5-pack-product-infos {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #ccc;
}

.ap5-on-product-page .ap5-pack-product-content .ap5-attributes {
	padding: 0;
}

.ap5-on-product-page .ap5-pack-product-content .label,
.ap5-on-product-page .ap5-pack-product-content .ap5-attributes label {
	font-weight: bold;
	color: inherit;
	padding: 0;
}

.ap5-on-product-page .ap5-pack-product-content .pull-left {
	float: left;
}

.ap5-on-product-page .ap5-pack-product-content .pull-right {
	float: right;
}

.ap5-on-product-page .ap5-pack-product-content .attribute_label {
	padding: 0;
	margin: 0 0 10px 0;
	font-weight: bold;
}

.ap5-on-product-page .ap5-pack-product-content .ap5-attribute-list {
	display: block !important;
	padding-right: 0 !important;
}

.ap5-on-product-page .ap5-pack-product-content .ap5-attribute-list li {
	float: left;
	clear: none !important;
	margin-right: 10px;
}

	/* Product block */
	.ap5-pack-product {
		padding: 0;
	}
	.ap5-on-product-page .ap5-pack-product {
		padding: 5px 0px;
	}

	.ap5-pack-product-content {
		position: relative;
		display: flex;
		height: unset !important;
		max-height: 100px;

	}

	.title-product-list-ap5 {
		font-size: 1rem;
		font-weight: 600;
		color: #fff;
	}

	.ap5-pack-product.ap5-no-attributes hr:last-child {
		margin-bottom: 0px;
		border: none;
	}

		/* Product Quantity Ribbon */
		.ap5-pack-product-content .ribbon-wrapper {
		  width: 85px;
		  height: 88px;
		  overflow: hidden;
		  position: absolute;
		  top: -3px;
		  right: -3px;
		  z-index: 50;
		}
		.ap5-pack-product-content .ribbon{
		  font-weight: bold;
		  text-align: center;
		  -webkit-transform: rotate(45deg);
		  -moz-transform:    rotate(45deg);
		  -ms-transform:     rotate(45deg);
		  -o-transform:      rotate(45deg);
		  position: relative;
		  padding: 7px 0;
		  left: -5px;
		  top: 15px;
		  width: 120px;
		  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
		  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
		  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
		}
		.ap5-pack-product-content .ribbon:before,
		.ap5-pack-product-content .ribbon:after {
		  content: "";
		  border-top:   3px solid transparent;
		  border-left:  3px solid transparent;
		  border-right: 3px solid transparent;
		  position:absolute;
		  bottom: -3px;
		}
		.ap5-pack-product-content .ribbon:before { left: 0; }
		.ap5-pack-product-content .ribbon:after { right: 0; }
		/* /Product Quantity Ribbon */

		/* Product Title */
		.ap5-pack-product-name {}
		.ap5-pack-product-name.title-left {
			padding: 10px 80px 10px 10px;
		}
		.ap5-pack-product-name.title-center {
			padding: 10px 10px 10px 10px;
			text-align: center;
		}
		.ap5-pack-product-name {
			font-size: inherit;
			margin: initial;
			padding: initial;
			font-weight: initial;
			line-height: initial;
		}
		.ap5-pack-product-name a {
			color: #414141;
		}
		/* /Product Title */

		/* Product Image */
		.ap5-pack-product-image {

		}
		.ap5-pack-product-image a {}
		.ap5-pack-product-image a img {
			max-width: 100px !important;
		}
		/* /Product Image */

		/* Product Thumbnails */
		.ap5-pack-product-slideshow {
			margin: 0 auto;
			overflow: hidden;
		}
		.ap5-pack-product-slideshow.pm-ap-owl-carousel div.ap5-pack-product-thumbnail {
			float: none;
		}
		.ap5-pack-product-slideshow.pm-ap-owl-carousel .pm-ap-owl-stage {
			margin: 0 auto;
		}
		.ap5-pack-product-slideshow.pm-ap-owl-carousel div.ap5-pack-product-thumbnail img.img-fluid,
		.ap5-pack-product-mobile-slideshow.pm-ap-owl-carousel div.ap5-pack-product-thumbnail img.img-fluid {}
		/* /Product Thumbnails */

		/* Plus Icon */
		.ap5-pack-product .ap5-pack-product-icon-plus:before {
		    color: black;
		    content: "\e147";
		    font-family: "Material Icons", "ap5-mu";
		    font-size: 25px;
		    position: absolute;
		    top: 150px;
		    left: -26px;
		}
		.ap5-pack-product:first-child .ap5-pack-product-icon-plus:before {
			content: '';
		}
		.ap5-pack-product.ap5-no-plus-icon .ap5-pack-product-icon-plus:before {
			content: '' !important;
		}
		@media (max-width: 1200px) {
			.ap5-pack-product .ap5-pack-product-icon-plus:before {
			    top: 150px !important;
			}
		}
		@media (max-width: 767px) {
			.ap5-pack-product .ap5-pack-product-icon-plus:before {
			    top: 120px !important;
			}
			.ap5-pack-product {
			    margin-top: 30px !important;
			}
		}
		@media (max-width: 575px) {
			.ap5-pack-product .ap5-pack-product-icon-plus:before {
				top: -40px !important;
				left: 46% !important;
			}
		}
		/* Plus Icon */

		/* Remove Icon */
		.ap5-pack-product .ap5-pack-product-icon-remove:after, .ap5-is-mobile .ap5-pack-product .ap5-pack-product-icon-remove:after {
			color: black;
			content: "\e928";
			font-family: "Material Icons", "ap5-mu";
			font-size: 18px;
			position: absolute;
			top: 7px;
			right: 7px;
			cursor: pointer;
			z-index: 60;
		}
		.ap5-pack-product .ap5-pack-product-icon-remove:after {
			opacity: 0.2;
		}
		.ap5-pack-product:hover .ap5-pack-product-icon-remove:after, .ap5-is-mobile .ap5-pack-product .ap5-pack-product-icon-remove:after {
			opacity: 1;
		}
		.ap5-is-mobile .ap5-pack-product .ap5-pack-product-icon-remove:after {
			top: -13px;
			right: -13px;
			padding: 20px;
		}
		.ap5-on-product-page .ap5-pack-product .ap5-pack-product-icon-remove:after {
			color: black;
			content: "\e928";
			font-family: "Material Icons", "ap5-mu";
			font-size: 18px;
			cursor: pointer;
			position: inherit;
			top: inherit;
			right: inherit;
			font-size: inherit;
		}
		/* Remove Icon */

		/* Check Icon */
		.ap5-is-excluded-product .ap5-pack-product-icon-check:after {
			color: black;
			content: "\e854";
			font-family: "Material Icons", "ap5-mu";
			font-size: 18px;
			position: absolute;
			top: 7px;
			right: 7px;
			cursor: pointer;
			z-index: 60;
		}
		.ap5-on-product-page .ap5-is-excluded-product .ap5-pack-product-icon-check:after {
			color: black;
			content: "\e854";
			font-family: "Material Icons", "ap5-mu";
			position: inherit;
			top: inherit;
			right: inherit;
			font-size: inherit;
			cursor: pointer;
		}
		/* Check Icon */

		/* Icons */
		.ap5-pack-product-icon-remove, .ap5-pack-product-icon-check {
			cursor: pointer;
		}
		/* Icons */

		/* Product Prices */
		.ap5-pack-product-price-table-container {
			display: table;
			width: fit-content;
		}
		.ap5-pack-product-price-table-container.ap5-no-reduction p {
			margin-bottom: 0;
		}
		.ap5-pack-product-price-table-container .ap5-pack-product-price-table-cell {
			display: table-cell;
			vertical-align: middle;
		}
		.ap5-pack-product-price-table-container .ap5-pack-product-price-table-cell div {
			margin-bottom: 0;
		}
		.ap5-old-price-container .ap5-pack-product-original-price {
			padding-bottom: 0 !important;
			margin-bottom: 0 !important;
		}
		.ap5-old-price-container .ap5-pack-product-reduction-container {
			margin-bottom: 0 !important;
		}
		p#reduction_amount.ap5-pack-product-amount-container {
			margin-bottom: 0 !important
		}
		/* /Product Prices */

		/* Product Availability */
		.ap5-availability-statut {
			text-align: center;
			display: block;
		}
		.ap5-availability-statut #product-availability {
			margin-left: 0;
		}
		/* /Product Availability */

		/* Product Quantity */
		fieldset.ap5-quantity-fieldset {
			padding: 5px;
		}
		div.ap5-quantity-input-container {
			width: 80px;
		}
		div.ap5-quantity-input-container input.ap5-quantity-wanted {
			background: #ffffff;
			color: #414141;
			height: 2.5rem;
			padding: .175rem .5rem;
			width: 3.30rem;
		}

		/* Product Attributes */
		.ap5-attributes {
		}
		.ap5-attributes fieldset label {
			margin-top: 4px;
		}
		.ap5-attributes fieldset.ap5-attribute-fieldset {
			padding: 5px 0;
		}
		.ap5-attributes fieldset.ap5-attribute-fieldset .ap5-attribute-list {
			padding-right: 5px;
		}
		.ap5-attributes ul.ap5-color-to-pick-list {
		}
		.ap5-attributes ul.ap5-color-to-pick-list li.selected a {
			border: 2px solid #414141;
		}
		.ap5-attributes ul.ap5-color-to-pick-list a.ap5-color.disabled, .ap5-attributes .ap5-attribute-select[disabled] {
			cursor: not-allowed;
		}
		.ap5-attributes ul.ap5-color-to-pick-list a.ap5-color img {
			vertical-align: top;
			width: 100%;
			max-width: 100%;
		}

		.ap5-attribute-fieldset {
		}
		.ap5-attribute-fieldset .attribute_label {
		}
		.ap5-attribute-fieldset .ap5-attribute-list {
		}
		/* /Product Attributes */

	/* /Product block */

/* /Pack content */

/* Buy Block */
	.ap5-buy-block {
	}
		.ap5-buy-block #ap5-buy-block-container {
		}

			/* Pack Price Block */
			.ap5-buy-block .ap5-price-container {}
			/* /Pack Price Block */

			/* Buy Button Block */
			.ap5-buy-block .ap5-buy-container {}
			/* /Buy Button Block */
	.ap5-pack-page .ap5-add-to-cart-container .product-add-to-cart .product-quantity {
		display: block;
	}
	.ap5-pack-page .ap5-add-to-cart-container .add {
		margin: 0;
	}
	.ap5-pack-page .ap5-buy-block-with-errors.ap5-is-mobile {
		padding: 20px;
	}

@media (min-width: 768px) {
	.ap5-buy-block {
	}
	.ap5-buy-block.ap5-fixed {
		position: fixed;
		top: 10px;
	}
}

@media (min-width: 992px) {
	  /* pack */
	  #product.ap5-pack-page .ap5-pack-product-name{
		text-align: start;
		padding: 1rem 0;
		min-height: unset !important;

		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2; /* number of lines to show */
				line-clamp: 2; 
		-webkit-box-orient: vertical;
	  }
	
	  #product.ap5-pack-page .product-information{
		display: flex;
		flex-direction: column;
	  }
	
	  #product.ap5-pack-page .reference-title-pack {
		color: #333;
	  }
	  #product.ap5-pack-page .reference-value-pack-product {
		font-size: .85rem;
	  }
	
	  #product.ap5-pack-page #ap5-buy-container{
		padding: 1rem 0;
	  }
	
	  #product.ap5-pack-page #ap5-price-container .product-prices{
		margin-top: 0 !important;
	  }
	
	  .ap5-pack-product-price-table-container .current-price .product-price{
		font-weight: 600;
		color: #555;
		font-size: 1rem;
	  }
	
	  .ap5-pack-product-content .line-separator-pack{
		border-color: var(--asm-color);
	  }
	
	  .ap5-pack-product-name a{
		color: #333;
		font-weight: 600;
	  }
	  .ap5-pack-product-name a:hover{
		color: var(--asm-color);
		font-weight: 600;
	  }

	  .ap5-attributes .product-variants-item {
		flex-direction: column;
		align-items: flex-start;
	  }
	
	  .ap5-attributes .product-variants-item .control-label {
		padding: 0 .5rem;
		margin: 0;
	  }
	
	  .attribute_list.ap5-attribute-list {
		width: 100%;
		display: flex;
	  }
	
	  .attribute_list.ap5-attribute-list .ap5-attribute-select{
		max-width: none;
		width: 100% !important;
		flex: 1;
	  }
	
	
	
	  /*  */
}

/* /Buy Block */

/* Pack Description Block */
#ap5-pack-description-block {}
/* /Pack Description Block */

/* Pack Content Block */
#ap5-pack-content-block .tabs {
	margin-top: unset;
	padding: unset;
}

/* Pack Download Block */
#ap5-pack-download-block .attachment {
	margin-top: 15px;
}

	/* Tabs */
	#ap5-pack-product-tab-list {
		border: 0;
		margin: 0 20px;
	}
	#ap5-pack-product-tab-list > li {
		margin: 0;
		padding: 0;
		text-align: center;
		min-height: 100%;
	}
	#ap5-pack-product-tab-list > li > a {
		margin-right: 0;
		text-decoration: none;
		border-color: #d6d4d4;
		outline: none;
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	#ap5-pack-product-tab-list > li > a > span { }
	#ap5-pack-product-tab-list > li.active > a { }
	/* /Tabs */

	/* Tab Contents */
	#ap5-pack-product-tabs-content {
		margin: 0 20px;
		padding-top: 20px;
		border: 1px #d6d4d4 solid;
		border-top: 0;
	}
	#ap5-pack-product-tabs-content > .tab-pane > div {
		margin-bottom: 20px;
	}
	#ap5-pack-product-tabs-content > .tab-pane > div > .rte {
		padding: 0;
	}

		/* Features table */
		#ap5-pack-product-tabs-content > .tab-pane > div > section.page-product-box {
			padding-bottom: 0;
			border-bottom: 0;
		}
		#ap5-pack-product-tabs-content > .tab-pane > div > section.page-product-box > h3.page-product-heading {
			margin-bottom: 0;
		}
		#ap5-pack-product-tabs-content > .tab-pane > div > section.page-product-box > .table-data-sheet {
			margin-bottom: 0;
		}
		/* /Features table */

		/* Google Rich Snippets & Reviews */
		#ap5-pack-product-tabs-content div.ap5-gsnippetsreviews-reviews-container {
			clear: both;
		}
		#ap5-pack-product-tabs-content #gsr .pagination, #ap5-pack-product-tabs-content #gsr div.gsr_social_buttons, #ap5-pack-product-tabs-content #gsr .gsr_report_button,
		#ap5-pack-product-tabs-content a[id^='reportReview'] {
			display: none !important;
		}
		#ap5-pack-product-tab-list #gsr-review-list, #ap5-pack-product-tab-list #gsr-review-list > div {
			float: none !important;
		}
		/* /Google Rich Snippets & Reviews */

		/* Product customization */
		#ap5-pack-product-tabs-content .ap5-product-customization-container {
			clear: both;
		}
		#ap5-pack-product-tabs-content .customizationUploadLine textarea {
			width: 100%;
		}
		/* /Product customization */

	@media (max-width: 767px) {
		#ap5-pack-product-tab-list,
		#ap5-pack-product-tabs-content {
			margin: 0 10px;
		}
	}
	/* /Tab Contents */
/* /Pack Content Block */

/* Alert and error cases */
.ap5-product-pack-row-has-errors > .ap5-pack-product-content > *:not(.ap5-pack-product-icon-check):not(.ap5-pack-product-icon-plus),
.ap5-product-pack-row-has-fatal-errors > .ap5-pack-product-content > *:not(.ap5-pack-product-icon-check):not(.ap5-pack-product-icon-plus) {
	filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
}
.ap5-on-product-page .ap5-product-pack-row-has-errors > .ap5-pack-product-content > *:not(.ap5-pack-product-icon-check):not(.ap5-pack-product-icon-plus) {
	filter: inherit;
    -webkit-filter: inherit;
    -moz-filter: inherit;
    -o-filter: inherit;
    -ms-filter: inherit;
	filter: inherit;
}
.ap5-is-excluded-product .ap5-pack-product-content > *:not(.ap5-pack-product-icon-check):not(.ap5-pack-product-title) {
	opacity: 0.2;
}
.ap5-product-pack-row-has-errors div.alert,
.ap5-product-pack-row-has-errors div.ap5-attributes,
.ap5-product-pack-row-has-errors div.product-actions,
.ap5-product-pack-row-has-errors fieldset.ap5-quantity-fieldset,
.ap5-product-pack-row-has-fatal-errors div.alert,
.ap5-product-pack-row-has-errors hr,
.ap5-product-pack-row-has-fatal-errors hr {
	filter: none !important;
    -webkit-filter: none !important;
    -moz-filter: none !important;
    -o-filter: none !important;
    -ms-filter: none !important;
}
.ap5-product-pack-row-has-errors div.alert,
.ap5-product-pack-row-has-fatal-errors div.alert {
	text-align: center;
	margin-bottom:0;
	/*box-shadow*/
	-webkit-box-shadow:0px 0px 3px 0px #656565;
	   -moz-box-shadow:0px 0px 3px 0px #656565;
	        box-shadow:0px 0px 3px 0px #656565;
	/*border-radius*/
	-webkit-border-radius:10px;
	   -moz-border-radius:10px;
	        border-radius:10px;
}
@-webkit-keyframes pulse {
	0% { background: rgba(255,109,36,0.0); }
	100% { background: rgba(255,109,36,0.3); }
}
@-moz-keyframes pulse {
	0% { background: rgba(255,109,36,0.0); }
	100% { background: rgba(255,109,36,0.3); }
}
@-o-keyframes pulse {
	0% { background: rgba(255,109,36,0.0); }
	100% { background: rgba(255,109,36,0.3); }
}
@keyframes pulse {
	0% { background: rgba(255,109,36,0.0); }
	100% { background: rgba(255,109,36,0.3); }
}

@-webkit-keyframes oosmsg {
	0% { opacity: 0; bottom: 55%; }
	100% { opacity: 1; bottom: 20%; }
}
@-moz-keyframes oosmsg {
	0% { opacity: 0; bottom: 55%; }
	100% { opacity: 1; bottom: 20%; }
}
@-o-keyframes oosmsg {
	0% { opacity: 0; bottom: 55%; }
	100% { opacity: 1; bottom: 20%; }
}
@keyframes oosmsg {
	0% { opacity: 0; bottom: 55%; }
	100% { opacity: 1; bottom: 20%; }
}
.ap5-product-pack-row-has-errors div.ap5-attributes, .ap5-product-pack-row-has-errors fieldset.ap5-quantity-fieldset {
	/*border-radius*/
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
	        border-radius:5px;
	/*animation-name*/
	-webkit-animation-name:pulse;
	   -moz-animation-name:pulse;
	    -ms-animation-name:pulse;
	     -o-animation-name:pulse;
	        animation-name:pulse;
	/*animation-duration*/
	-webkit-animation-duration:0.8s;
	   -moz-animation-duration:0.8s;
	    -ms-animation-duration:0.8s;
	     -o-animation-duration:0.8s;
	        animation-duration:0.8s;
	/*animation-iteration-count*/
	-webkit-animation-iteration-count:8;
	   -moz-animation-iteration-count:8;
	    -ms-animation-iteration-count:8;
	     -o-animation-iteration-count:8;
	        animation-iteration-count:8;
	/*animation-direction*/
	-webkit-animation-direction:alternate;
	   -moz-animation-direction:alternate;
	    -ms-animation-direction:alternate;
	     -o-animation-direction:alternate;
	        animation-direction:alternate;
	/*animation-timing-function*/
	-webkit-animation-timing-function:ease-in-out;
	   -moz-animation-timing-function:ease-in-out;
	    -ms-animation-timing-function:ease-in-out;
	     -o-animation-timing-function:ease-in-out;
	        animation-timing-function:ease-in-out;
}
.ap5-product-pack-row-has-errors div.alert ol,
.ap5-product-pack-row-has-fatal-errors div.alert ol {
	padding: 0;
	margin: 0;
	font-weight: bold;
}
.ap5-product-pack-row-has-errors div.alert ol li,
.ap5-product-pack-row-has-fatal-errors div.alert ol li {
	list-style-type: none;
}
.ap5-pack-product .ap5-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

#ap5-buy-container p.ap5-pack-unavailable,
#ap5-buy-container p.ap5-combination-unavailable {
	padding: 10px;
	margin: 0;
	font-weight: bold;
}
#ap5-buy-container p.ap5-combination-unavailable span a {
	color: inherit;
	outline: none;
}
/* /Container special styles */

/* Spinner */
.ap5-loader-blur {
	filter: blur(1px);
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
}
.ap5-loader:before,
.ap5-loader:after,
.ap5-loader {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: ap5loader 1.8s infinite ease-in-out;
	animation: ap5loader 1.8s infinite ease-in-out;
}
.ap5-loader {
	margin-left: auto;
	margin-right: auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	-webkit-animation-delay: 0.16s;
	animation-delay: 0.16s;
	opacity: 1;

	/* paulo */
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%,-50%);
}
.ap5-loader:before {
	left: -3.5em;
}
.ap5-loader:after {
	left: 3.5em;
	-webkit-animation-delay: 0.32s;
	animation-delay: 0.32s;
}
.ap5-loader:before,
.ap5-loader:after {
	content: '';
	position: absolute;
	top: 0;
}
/* /Spinner */
