<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>asg_cars</name>
    <displayName><![CDATA[ASG - CARS]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Tool to create cms cars]]></description>
    <author><![CDATA[All Stars Group]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>