.kpi-refresh {
    display: none !important;
}

.adminorders .btn-group-action {
    display: none;
}

.adminorders #order_new{
    display: none;
}

.adminorders .form-group.row.type-choice{
    display: none;
}

.adminorders #order_grid_table th[data-column-id="orders_bulk"]{
    display: none;
}
.adminorders #order_grid_table td[data-column-id="orders_bulk"]{
    display: none;
}
.adminorders #order_grid_table td.column-orders_bulk{
    display: none;
}

.adminorders #order_grid_table tbody td{
    height: 55px;
}
.adminorders #order_grid_table tbody td.column-actions{
    display: none;
}
.adminorders #order_grid_table tbody td.column-payment{
    text-align: center !important;
}


.adminorders #order_grid_table thead td[data-column-id="actions"]{
    display: none;
}
.adminorders #order_grid_table thead th[data-column-id="actions"]{
    display: none;
}

.adminorders .column-product_reference{
    width: 20%;
}

.custom-button-container{
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: end;
}

#order_grid_panel .bulkactions-orders-custom {
    display: flex;
}

.bulkactions-orders-custom .custom-button-container div{
    display: flex;
    gap: 0.5rem;
}

.tracking_input{
    position: relative;
    height: fit-content;
}

.tracking_not_found{
    display: none;
    color: red;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}
.tracking_not_found.showTrackingAlert{
    display: block;
    color: red;
}



/* order detail page */

.adminorders .card[data-role="message-card"]{
    display: none;
}


.adminorders #order-view-page .right-column{
    width: 100%;
    max-width: unset;
    flex: unset;
}

#update_order_shipping_tracking_number{
    display: none;
}
#shipping-grid-table #update_order_shipping_tracking_number{
    display: block;
}

.shipping-container-asd .card-body .form-group{
    margin-bottom: 0 !important;
}

.btns-action-shipping-asg {
    display: flex;
    align-items: center;
}

.btn-delete-shipping-line i:hover {
    color: #ff766c !important;
}


/* preview order */

.preview-row .order-preview-content .col-5{
    width: 30%;
    flex: unset;
    padding: 0;
}

.preview-row .order-preview-content .col-7{
    width: 70%;
    flex: unset;
    padding: 0;
    max-width: unset;
}

.preview-row .order-preview-content .col-5 .col-1{
    display: none !important;
}

.preview-row .order-preview-content i{
    display: none !important;
}


.adminorders .column-payment_id{
    text-align: center !important;
}


/* ORDER DETAILS */

#view_order_payments_block .form-group{
    margin-bottom: 0 !important;
}

#view_order_payments_block .card-body{
    padding: 0 .625rem;
}

.add-form-payment-line{
    display: none;
    transition: all ease-in-out 250ms;
}

#historyTabContent .card-header{
    background: #fff;
}

.order-status-web{
    /* display: none; */
    max-height: 0;
    transition: 600ms max-height ease;
    visibility: hidden;
    padding: 0 .9375rem;
}
.order-status-web.show_status{
    max-height: 500px;
    visibility: visible;
    padding: 0 .9375rem;
}

#view_order_payments_block{
    max-height: 0;
    transition: 600ms max-height ease;
    visibility: hidden;
    margin-block: 0 !important;
}
#view_order_payments_block.show_payment{
    max-height: 500px;
    visibility: visible;
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
}

#view_order_note_block{
    max-height: 0;
    transition: 600ms max-height ease;
    visibility: hidden;
    margin-block: 0 !important;
}
#view_order_note_block.show_note{
    max-height: 500px;
    visibility: visible;
    margin-block: 0 !important;
}



.btn.history-status{
    background:#fff;
    margin-right: .5rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}
.btn.history-status:hover{
    background: #f3f3f3;
}

#order-view-page .info-block{
    margin-bottom: 1.5rem;
    background-color: #fff !important;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.06);
    border-radius: 0.25rem;
}


#order-view-page .card-body .info-block {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.16);
}

.alert.alert-warning .close i{
    position: unset;
}

#order_grid_panel .card-body .btn-group{
    display: flex;
    align-items: center;
}

#order_grid_panel .card-body .btn-group .js-bulk-actions-btn{
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: space-evenly;
    height: 39px
}

#product_form_open_help{
    display: none !important;
}

.cellProductTaxes .form-control-label{
    display: none !important;
}

.nav-shipping-asd{
    gap: 1rem;
    padding: 1rem !important;
    /* border-radius: .25rem; */
}

.shipping-container-asd{
    border-radius: .25rem;
}

.nav-shipping-asd a.nav-link {
    width: 150px;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #2121;
    border-radius: .25rem;
}

.nav-shipping-asd a.nav-link:hover {
    border: 2px solid #ccc;
}

.nav-shipping-asd a.nav-link.active {
    border: 2px solid #4fa4ff;
    background-color: #c9e3ff;
}

.tab-content-asd-shipping{
    padding: 0;
    border: 0 !important;
}

.tab-content-asd-shipping #dpdTabContent{
    border: 1px solid #dbe6e9;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.06);
  box-shadow: 0 0 4px 0 rgba(0,0,0,.06);
}
.tab-content-asd-shipping #nacexTabContent{
    border: 1px solid #dbe6e9;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.06);
  box-shadow: 0 0 4px 0 rgba(0,0,0,.06);
}
.tab-content-asd-shipping #upsTabContent{
    border: 1px solid #dbe6e9;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.06);
  box-shadow: 0 0 4px 0 rgba(0,0,0,.06);
}
#customerCard{
    margin: 0;
    height: 100%;
}

#customerCard .card-body{
    padding: 0;
}

#customerCard .card-body .info-block{
    margin: 0 !important;
    box-shadow: none !important;
}

/* nacex */

#nacexTabContent .nacex-container-shipping {
    display: block;
    padding: 0;
}

#nacexTabContent .webvizo {
    display: none;
}

.nacex-container-shipping {
    display: none;
}


/* ups */

#upsTabContent .webvizo {
    display: none;
}

#upsTabContent .webvizo:first-of-type {
    display: flex;
}

#generate_ups_shipping_label_form .panel{
    height: unset !important;
    margin: 0 !important;
}
#generate_ups_shipping_label_form #hide_show_ups{
    display: none !important;
}
#generate_ups_shipping_label_form #expand_ups{
    cursor: default;
    border-bottom: 0;
}

.tab-ups-asgroup .card_estimated{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.tab-ups-asgroup .card_estimated_content{
    display:flex;
    align-items:center;
    gap:1rem;
}


.tab-ups-asgroup .card_generate {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.tab-ups-asgroup .card_generate .card_generate_content{
    /* background: #f6f6f6; */
}
.tab-ups-asgroup .card_generate .card_generate_content .btn-generate-document-ups{
    border: 2px solid #2121;
    border-radius: .25rem;
    max-width: 80px;
    width: 100%;
    padding: .5rem;
}
.tab-ups-asgroup .card_generate .card_generate_content .btn-generate-document-ups i {
    font-size: 2rem;
}

.tab-ups-asgroup .card_documents_list {
    
}

.card_estimated .card_estimated_content .badge.badge-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* modal dpd */
.modal-dpd-asgroup-container{
    display: none;
}
.modal-dpd-asgroup-container.show{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-dpd-asgroup{
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: .25rem;
    padding: 1rem;
    /* display: flex;
    flex-direction: column; */
}

.modal-dpd-asgroup .modal-dpd-asgroup-body{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
}
.modal-dpd-asgroup .modal-dpd-asgroup-footer{
    display: flex;
}


#orderShippingDPD:hover{
    cursor: pointer;
}

#shipping-grid-table .input-error {
    outline: 2px solid red;
}

#shipping-grid-table .show-validation {
    display: block;
    position: absolute;
    bottom: 0;
}

#shipping-grid-table .carrier-weight{
    position: relative;
}

#shipping-grid-table td{
    padding: 1rem 0.4rem;
}


.alert-success i {
    position: unset !important;
}

.shipping-notsaved-asgroup {
    display: none;
}
.shipping-notsaved-asgroup.show {
    display: block;
}


/* product backoffice */

.container-ean-btn{
    display: flex;
    gap:.5rem;
}

.barcode {
    background-image: url("../img/barcode.svg");
    background-repeat: no-repeat;
    background-size: contain; 
    display: inline-block;    
    width: auto;         
    height: 28px; 
}

.barcode-white {
    background-image: url("../img/barcode-white.svg");
    background-repeat: no-repeat;
    background-size: contain; 
    display: inline-block;    
    width: 34px;         
    height: auto; 
}
