<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ets_onepagecheckout</name>
    <displayName><![CDATA[One Page Checkout &amp; Social Login]]></displayName>
    <version><![CDATA[2.7.9]]></version>
    <description><![CDATA[Simplifies PrestaShop default checkout steps and helps customers checkout faster, easier and more secure thus reduce cart abandonment and increase conversion rate.]]></description>
    <author><![CDATA[PrestaHero]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>